.wrapper {
  background-image: url(../img/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  padding: 30px;

  color: white;
  font-weight: 500;
  height: auto;
}
.insta {
  color: aliceblue;
}
.texto p {
  margin-bottom: 10px;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.5);
}

.texto h2 {
  margin-bottom: 10px;
}

.texto p:last-child {
  margin-bottom: 0;
}
.txt2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

@media (max-width: 1000px) {
  .texto {
    height: 100%;
  }
}
