.home-page {
  color: white;
  width: 100vw;
  background-image: url(../img/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container-fluid {
    padding: 0 150px;
  }

  h2 {
    /* Gradiente no texto */
    background: linear-gradient(90deg, #ff007f, #00ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Borda ao redor do texto */
    border: 4px solid #ff007f;
    padding: 0px 40px;
    border-radius: 15px;

    /* Efeito de brilho na borda */
    box-shadow: 0 0 20px rgba(255, 0, 127, 0.6);
  }
}
.home-page .imgP {
  animation: updown 3s linear infinite;
}
/* Botão responsivo */
.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
  width: 100%;
  max-width: 250px;
}

.btn:hover {
  background-color: #45a049;
  color: white;
}

.responsive-heading {
  font-size: 60px;
}

/* Imagem responsiva */
img.rounded-circle {
  max-width: 70%;
}

/* Links de ícones */
a {
  color: inherit;
  transition: transform 0.2s ease-in-out;
}

a:hover {
  transform: scale(1.1);
}

/* Responsividade */
@media (max-width: 768px) {
  /* Reduz o tamanho do título */
  .responsive-heading {
    font-size: 50px;
  }

  img.rounded-circle {
    max-width: 50%;
  }

  .d-flex.gap-icons {
    gap: 15px;
  }

  /* Ajusta o layout para empilhar as colunas */
  .flex-column-reverse-sm {
    flex-direction: column-reverse;
  }
}
@keyframes updown {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-15px);
  }
}
