.btn {
  background-color: #4caf50; /* cor de fundo */
  border: none; /* remove a borda */
  color: white; /* cor do texto */
  padding: 20px 32px; /* preenchimento interno (aumenta a altura) */
  text-align: center; /* alinhamento do texto */
  text-decoration: none; /* remove sublinhado */
  display: inline-block; /* exibição como bloco */
  font-size: 20px; /* aumenta o tamanho da fonte */
  margin: 4px 10px; /* margem externa */
  cursor: pointer; /* cursor ao passar por cima */
  border-radius: 8px; /* bordas arredondadas */
  transition-duration: 0.4s; /* duração da transição */
  width: 250px; /* diminui a largura do botão */
}
.btn a {
  text-decoration: none; /* Remove o sublinhado do link dentro do botão */
}

.btn:hover {
  background-color: #45a049; /* cor de fundo ao passar por cima */
  color: white; /* cor do texto ao passar por cima */
}
