.home-page {
  color: white;
}
.home-page img {
  animation: updown 3s linear infinite;
}
/* Botão responsivo */
.btn {
  background-color: #4caf50; /* cor de fundo */
  border: none; /* remove a borda */
  color: white; /* cor do texto */
  padding: 15px 20px; /* ajuste no preenchimento para telas menores */
  text-align: center; /* alinhamento do texto */
  font-size: 16px; /* tamanho da fonte menor */
  border-radius: 8px; /* bordas arredondadas */
  transition-duration: 0.4s; /* duração da transição */
  width: 100%; /* largura total em telas pequenas */
  max-width: 250px; /* largura máxima para evitar botões muito grandes */
}

.btn:hover {
  background-color: #45a049;
  color: white;
}

.responsive-heading {
  font-size: 60px; /* Tamanho padrão */
}

/* Imagem responsiva */
img.rounded-circle {
  max-width: 70%;
}

/* Links de ícones */
a {
  color: inherit;
  transition: transform 0.2s ease-in-out;
}

a:hover {
  transform: scale(1.1); /* leve aumento ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
  /* Reduz o tamanho do título */
  .responsive-heading {
    font-size: 50px; /* Tamanho menor para telas pequenas */
  }

  /* Reduz o tamanho da imagem */
  img.rounded-circle {
    max-width: 50%; /* Tamanho máximo da imagem em telas menores */
  }

  /* Espaçamento entre os ícones */
  .d-flex.gap-icons {
    gap: 15px; /* Adiciona espaçamento apenas onde necessário */
  }

  /* Ajusta o layout para empilhar as colunas */
  .flex-column-reverse-sm {
    flex-direction: column-reverse; /* Inverte a ordem dos elementos */
  }
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
