.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-attachment: fixed;
  color: white;

  padding-top: 60px;

  h2 {
    margin-bottom: 60px;
    font-size: xx-large;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.212);
    color: rgb(255, 255, 255);
    border-radius: 2em;
    padding: 20px;

    /* Gradiente no texto */
    background: linear-gradient(90deg, #ff007f, #00ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Borda ao redor do texto */
    border: 4px solid #ff007f;
    padding: 0px 40px;
    border-radius: 15px;

    /* Efeito de brilho na borda */
    box-shadow: 0 0 20px rgba(255, 0, 127, 0.6);
  }
}

.estilo1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-left: 20px;
  margin-right: 50px;
  font-size: x-large;
  padding-bottom: 50px;
  margin: 10px;
  padding: 50px;
}
.destaque {
  border-radius: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}
.imgP {
  width: 700px;
  height: 450px;
  border-radius: 1rem;
  animation: pulse 1.5s infinite;
  cursor: pointer;
  background-size: contain;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1000px) {
  .wrapper {
    h2 {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .estilo1 {
    flex-direction: column;
    padding-bottom: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 20px;
  }

  .imgP {
    width: 100%;
    height: auto;
    max-height: 250px;
    border-radius: 1rem;
  }
}
