.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-attachment: fixed;
  color: white;

  padding: 60px 40px;

  h2 {
    margin-bottom: 60px;
    font-size: xx-large;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.212);
    color: rgb(255, 255, 255);
    border-radius: 2em;
    padding: 20px;

    /* Gradiente no texto */
    background: linear-gradient(90deg, #ff007f, #00ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Borda ao redor do texto */
    border: 4px solid #ff007f;
    padding: 0px 40px;
    border-radius: 15px;

    /* Efeito de brilho na borda */
    box-shadow: 0 0 20px rgba(255, 0, 127, 0.6);
  }
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 por linha */
    padding: 0px 40px;
    justify-items: center;  /* alinha os cards horizontalmente */
    align-items: start;     /* impede que fiquem desalinhados verticalmente */

    gap: 30px;
  }
}

.estilo1 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 16px;
  font-size: large;
  padding-bottom: 50px;
}
.destaque {
  border-radius: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}
.imgP {
  max-width: 400px;
  height: auto;
  border-radius: 1rem;
  animation: pulse 1.5s infinite;
  cursor: pointer;
  background-size: contain;
  margin-bottom: 32px;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1000px) {
  .wrapper {
    h2 {
      margin-left: 10px;
      margin-right: 10px;
    }
    .projects-grid {
      grid-template-columns: 1fr; /* vira 1 por linha no celular */
    }
   

  .estilo1 {
    flex-direction: column-reverse;
    padding-bottom: 10px;
    margin: 20px 0 40px 0px;
    padding: 0px;
    width: 80vw;
  }

  .imgP {
    max-width: 80vw;
    width: 100%;
    height: auto;
    max-height: 250px;
    border-radius: 1rem;
  }
}

