#sobre {
  background-color: rgba(255, 192, 203, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin-bottom: 280px;
  h3 {
    color: rgba(255, 255, 255, 0.647);
  }
  li {
    font-size: xx-large;
    margin-bottom: 40px;
  }
  ul li::marker {
    color: rgb(202, 5, 5); /* cor da bolinha */
  }
  img {
    max-height: 600px;
    border-radius: 2em;
  }
  .principal {
    max-width: 600px;
  }
}
