#comum {
  background-color: rgba(255, 192, 203, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 150px;
  margin-bottom: 80px;
}

#comum h3 {
  color: rgba(255, 255, 255, 0.647);
}

#comum .principal li {
  font-size: xx-large;
  margin-bottom: 40px;
}

#comum ul li::marker {
  color: rgb(202, 5, 5);
}

#comum img {
  max-height: 600px;
  border-radius: 2em;
}

#comum .principal {
  max-width: 600px;
}

.animar {
  opacity: 0;
  transform: translateY(15px);
  transition: all 0.6s ease-out;
}

.animar.show {
  opacity: 1;
  transform: translateY(0);
}

/* Delay para aparecer um de cada vez */
.animar:nth-child(1) {
  transition-delay: 0.1s;
}
.animar:nth-child(2) {
  transition-delay: 0.3s;
}
.animar:nth-child(3) {
  transition-delay: 0.5s;
}
.animar:nth-child(4) {
  transition-delay: 0.7s;
}
.animar:nth-child(5) {
  transition-delay: 0.9s;
}
.animar:nth-child(6) {
  transition-delay: 1.1s;
}

@media (max-width: 1200px) {
  #comum {
    flex-direction: column-reverse;
    margin: 80px 0px 0px 0px;
    gap: 50px;
  }

  #comum img {
    max-height: 300px;
    border-radius: 2em;
  }
}
