#sobre {
  background-color: rgba(255, 192, 203, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;

  h3 {
    color: rgba(255, 255, 255, 0.647);
  }
  img {
    max-height: 600px;
    width: auto;
    border-radius: 2em;
  }
  .principal {
    max-width: 600px;
  }
}
@media (max-width: 1024px) {
  #sobre {
    flex-direction: column;
    padding: 40px 20px;
    img {
      max-height: 300px;
      width: auto;
    }
  }
}
