.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Isso garante que o conteúdo comece no topo */
  overflow-x: hidden;
  background-image: url(../public/img/banner-bg.png);
}
